main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 60pt;
    text-align: center;
}

.title-neon {
    color: #fff;
    text-shadow: 0 0 7px #fff,
        0 0 10px var(--neon-blue),
        0 0 21px var(--neon-blue),
        0 0 42px var(--neon-blue),
        0 0 82px var(--neon-blue),
        0 0 92px var(--neon-blue),
        0 0 102px var(--neon-blue),
        0 0 151px var(--neon-blue);
}

.txt-slg,
h2,
h3 {
    font-family: "Jersey 10", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 35pt;
    font-size: 40pt;
    text-align: center;
    color: white;
    margin-top: 0;
}

.txt-slg {
    margin: 0px 0px 60px 0px;
    height: 40pt;
    color: #cfcfcf;
    font-size: 30pt;
}

section {
    width: 85%;
    height: auto;
    border-radius: 50px;
    padding: 25px 25px 25px 25px;
    margin: 10px;
    margin-bottom: 30px;
    background-color: var(--darkest-purple);

    box-shadow: 0 0 7px #fff,
        0 0 10px var(--purple),
        0 0 21px var(--purple),
        0 0 42px var(--purple);
}


.checked {
    color: orange;
}

/* Section Principale */
.section-1 {
    text-align: center;
    padding: 60px 20px;
    background-color: #1e0f20;
    color: white;
}

.section-1 h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 48px;
    margin-bottom: 60px;
}

.grid {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.sqr {
    background-color: var(--darkest-purple);
    font-family: "Jersey 10", sans-serif;
    font-weight: 350;
    font-size: 25pt;
    color: #cfcfcf;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    max-width: 400px;
    flex: 1 1 280px;
    text-align: center;
}

.sqr img {
    width: 40%;
    height: auto;
    padding: 30px 0px 5px 0px;
    border-bottom: 2px solid #333;
}

.sqr div {
    padding: 20px;
}

.txt-intro {
    align-content: center;
    font-family: "VT323", monospace;
    font-weight: 600;
    font-size: 20pt;
    max-width: 950pt;
    margin: 10px auto 20px auto;
}


/* Section Best Sellers */
.section-2 {
    padding-bottom: 30px;
}

.best-sellers {
    justify-content: center;
    align-items: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.card-grid .card-item {
    flex: 1 1 250px;
    margin: 10px;
    box-sizing: border-box;
    background-color: var(--card-bg-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card styles */
.card-item img {
    height: 240pt;
    width: 100%;
    transition: transform 0.3s ease;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105pt;
    padding: 10px;
    text-align: left;
    font-family: "Jersey 10", sans-serif;
}

.card-content h4 {
    color: #333;
    margin: 0;
    font-size: 30pt;
}

.p-sr {
    position: relative;
}

.prix {
    color: #5bba6f;
    margin: 0;
    width: 200px;
    font-weight: bold;
    font-size: 30pt;
}

.sell-rating {
    display: flex;
    flex: row wrap;
    float: right;
    font-size: 15pt;
}

.prod-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.prod-link:hover {
    background-color: #5bba6f;
    cursor: pointer;
}

/* Hover effect on cards */
.card-item:hover {
    transform: scale(1.05);
}

.card-item:hover img {
    transform: scale(1.1);
}



/* Catégories */

.section-3 {
    font-family: "Jersey 10", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.ctg-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 70pt;
}

.ctg-item {
    flex: 1 1 250px;
    max-width: 60%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.ctg-item img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
}

.ctg-item h3 {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease;
}

.ctg-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.ctg-item:hover h3 {
    opacity: 1;
    transform: translateY(0);
}

.ctg-item:hover img {
    transform: scale(1.1);
}



/* Reviews */

.section-4 {
    padding-bottom: 40px;
}

.carousel {
    font-family: "Jersey 10", sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.carousel-comms {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 90%;
}

.comments-container {
    display: flex;
    max-width: 900pt;
    transition: transform 1s ease;
}

.comment {
    background-color: #380066;
    max-width: max-content;
    margin: 0 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px 2px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    color: rgb(192, 192, 192);
    font-size: 24pt;
}

.review-rating {
    float: right;
    font-size: 20px;
    margin-left: auto;
}

.commentaire {
    margin: 0;
    max-width: 500px;
    color: white;
    font-size: 20pt;

}

.timeStamp {
    display: flex;
    align-self: flex-end;
    float: right;
    color: #6f5872;
    font-size: 15pt;
    font-weight: 600;
}

.nav-button {
    background-color: #48106d;
    color: white;
    margin: 20px;
    padding: 8px 18px;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2px 5px 2px 2px rgba(0, 0, 0, 0.25);
    z-index: 2;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #390758;
}

@media (max-width: 1300px) {
    .carousel {
        display: flex;
        justify-self: center;
        align-items: center;
        justify-content: start;
        width: 100%;
        margin: 0;
    }
    .carousel-comms {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 90%;
    }
    
    .comments-container {
        display: flex;
        max-width: 1000pt;
        transition: transform 1s ease;
    }
}