nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 1;
  background-color: var(--purple);
  box-shadow: 0 0 7px #fff, 0 0 10px var(--purple), 0 0 21px var(--purple),
    0 0 42px var(--purple);
}

nav > div {
  display: flex;
  align-items: center;
}

#nav-logo {
  color: var(--neon-blue);
  display: flex;
  align-items: center;
  gap: 10px;
}

#nav-title {
  color: currentColor;
  /* FONTS */
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

nav a {
  margin: 0 30px;
  padding: 5px;
  /* FONTS */
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  transition-duration: .2s;
}

.nav-link:hover,
.nav-link.active {
  color: white;
  text-shadow: 0 0 7px var(--neon-blue), 0 0 10px var(--neon-blue),
    0 0 21px var(--neon-blue);
}

nav img {
  margin: 0 30px;
}

/* Responsive */
@media only screen and (max-width: 1165px) {
  nav > div {
    flex-direction: column;
  }

  nav {
    height: auto;
    flex-direction: column;
    padding-bottom: 10px;
  }

  #nav-logo-img {
    display: none;
  }

  nav a {
    margin: 2px 0;
  }

  #nav-title {
    margin: 5px 0;
  }
}
