main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30pt;
  text-align: center;
}

.title-neon {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px var(--neon-blue),
    0 0 21px var(--neon-blue), 0 0 42px var(--neon-blue),
    0 0 82px var(--neon-blue), 0 0 92px var(--neon-blue),
    0 0 102px var(--neon-blue), 0 0 151px var(--neon-blue);
}

.section-cards {
  color: white;
  width: 75%;
  height: auto;
  border-radius: 50px;
  padding: 25px 25px 25px 25px;
  background-color: #241734;
  box-shadow: 0 0 7px #fff, 0 0 10px var(--purple), 0 0 21px var(--purple),
    0 0 42px var(--purple);
}

.shopping-basket-game-card {
  width: 50%;
  border-radius: 30px;
  background-color: var(--card-bg-color);
  display: flex;
}

.shopping-basket-game-card img {
  /* width: 35%; */
  height: 10em;
  margin: 1%;
  /* height: 120000000%; */
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}
.card-desc {
  color: white;
  background-color: var(--darkest-purple);
  font-weight: 300;
  font-style: normal;
  margin-right: 5px;
  font-size: 75%;
  border-radius: 20px;
  padding: 3px 6px;
  margin-left: 3px;
  /* border: 1px solid black; */
}
.card-content {
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 125%;
}
/* TODO ; redondant avec boutique.css */
.card-title {
  color: black;
  font-family: "Jersey 10", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25pt;
}

h2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  text-align: center;
}
